@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  background: theme("colors.ckb.bg");
  color: #e6e6e6;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    sans-serif;
}

.svelte-flow {
  background: #0f1115;
}
